.background_img {
  background-image: url("homepage");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 72px 1fr;
  grid-template-areas: "navbar"
                       "main";
}
