.sticky-btn {
  position:absolute;
  bottom: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #3e3c3c;
  border-radius: 8px;
  width: 12%;
  padding: 5px;
  text-align: center;
}

.sticky-btn:hover {
  background-color: #3e3c3c;
  width: 13%;
  padding: 7px;
  transition: 1s;
}

.sticky-btn a {
  text-decoration: none;
  color: white !important;
}

.btn-outline-secondary {
  background-color: #bfb8b8a5;
  color: white;
}
