.btn-flat {
  color: white;
  padding: 24px 24px;
  border-radius: 4px;
  border: 1px solid white;
  transition: background 0.3s ease;
  font-size: 20px;
  box-shadow: 0 0 4px 0px #e9ecef;
}

.btn-flat:hover {
  background-color: black;
  cursor: pointer;
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-size: 16px;
  box-shadow: 0 0 4px 0px #e9ecef;
}

.btn-ghost:hover {
  background-color: black;
  cursor: pointer;
}

.btn-get-started {
  display: flex;
    justify-content: space-around;
    padding: 100px;
    padding-top: 320px;
    margin-bottom: -110px;
}

.btn-login {
  padding-right: 20px;
  padding-top: 20px;
}
