.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: start;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.781) !important;
  padding: 0 !important;
  border-radius: 5px;
}

.mapboxgl-popup img {
  width: 100%;
  max-height: 225px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  border-radius: 16px;
}

.mapboxgl-popup-content a {
  color: rgb(109, 103, 103);
}

.mapboxgl-popup-content p {
  font-size: 14px;
}

.marker {
  border-radius: 5 ;
}