.card-booked-dino {
  height: 120px;
  border-radius: 8px;
  margin: 12px auto;
  padding: 8px;
  box-shadow: inset 0px 0px 8px 2px rgba(255,255,255,0.3);
}
#my-booking-title {
  text-shadow: 0 0 16px white;
}
.card-booked-dino .card-image {
  text-align: center;
}
.card-booked-dino .row {
  align-items: center;
}
#dino-avatar {
  border-radius: 50%;
}
.card-booked-dino h5 {
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 25px;
  padding: 8px 8px;
  font-weight: bold;
  color: white
}
.card-booked-dino p {
  margin: 12px 0;
}
.card-booked-dino #booking-price {
  font-weight: bold;
}
.card-booked-dino .name {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.card-booked-dino .name:hover {
  opacity: 50%;
}
.card-booked-dino .species {
  color: rgb(150, 150, 150);
}
.pending {
  background: rgb(244,176,42);
  color: rgb(50,50,50)
}
.accept {
  background-color: rgb(6, 177, 75);
  color: white
}
.deny {
  background-color: #D93030;
}
