.navbar-lewagon {
  justify-content: space-between;
  height: 67.6px;
  grid-area: navbar;
}
.page {
  grid-area: main;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .dropdown-menu {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  box-shadow: inset 0 0 8px 2px rgba(180,180,180,0.5);
}
.navbar-lewagon .dropdown-item {
  color: white;
  text-shadow: 0 0px 8px rgb(142, 142, 142);
}
.navbar-lewagon .dropdown-item:hover {
  background: none;
  border: 1px solid;
  opacity: 50%;
}
.navbar-lewagon p {
  color: white;
}
.navbar-lewagon a {
  text-decoration: none;
}
.navbar-lewagon h3 {
  color: white;
  text-shadow: 0 0 8px rgb(142, 142, 142);
  margin: 0;
}
.navbar-lewagon h3:hover {
  opacity: 50%;
}
.navbar-lewagon .nav-link {
  color: white;
  border-radius: 4px;
  text-shadow: 0 0 8px rgb(142, 142, 142);
  transition: 0.5;
}
.navbar-lewagon .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5;
}