.form-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-control {
  background-color: #c4c4c482 !important;
  color: white !important;
}

.form-select {
  background-color: #c4c4c482 !important;
}

.form-button {
  background-color: #c4c4c4bd;
  color: white;
  border-radius: 8px;
}

.form-button:hover {
  background-color: #c4c4c4e5;
  width: 60% !important;
  transition: 1.5s;
}

.form-place-holder {
  color: white;
}

.log-in-button {
  border-color: #c4c4c4bd;
  color: white;
  border-radius: 8px;
}

.log-in-button:hover {
  background-color: #c4c4c4bd;
  color: white;
  width: 60% !important;
  transition: 1.5s;
  border-radius: 8px;
}

