.search-forms {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.form-species-select {
  width: 50%;
}

.form-species-submit {
  margin-left: 8px;
}

.search-form-control {
  background-color: #0e00009e !important;
  color: white !important;;
}
